In [3]:
'''1.Write a program to convert specified days into year,weak, and days take user input (note: ignre leap year)'''

In [5]:
days = int (input('Enter days to convert'))
if days>=366:
    year = days // 366
    days = days - 366*year
    weak = days // 7
    days = days % 7
    print (year,'years', days,'days',weak,'weaks')
elif days>=7:
    weak = days // 7
    days = days % 7
    print (weak,'weaks',days,'days')
else:
    print(days,'days')

Enter days to convert 5

5 days

In [7]:
''' 2. Write a program to input basic python salary of employee and calculate its Gross salary according to following
 Basic salary <= 10000:HRD = 20% DA = 80%
 Basic salary <= 20000:HRD = 30% DA = 90%
 Basic salary <= 20000:HRD = 35% DA = 95%'''

In [8]:
basic_salary = int (input('Enter your salary'))
if basic_salary<=10000:
    hrd = 0.2*basic_salary
    da = 0.8*basic_salary
elif basic_salary<=20000:
    hrd = 0.3*basic_salary
    da = 0.9*basic_salary
else:
    hrd = 0.35*basic_salary
    da = 0.95*basic_salary
gross_salary = basic_salary+hrd+da
print('Gross Salary=' , gross_salary)

Enter your salary 40000

Gross Salary= 92000.0

In [13]:
''' 3. Write a python program to input electrical unit charges and calculate total electrical bill according given conditions:
 for first 50 units Rs.0.50/unit
 for first 100 units Rs.0.75/unit
 for first 250 units Rs.1.50/unit
 an additional surcharge of 17% is added to the bill'''

units = int (input('Enter the number of units:'))
if units <= 50:
    cost = 0.50*units
    print ('cost to be paid is:',cost)
elif units >= 50 and units<=150:
    cost = 0.75*units
    print ('cost to be paid is:',cost)
elif units >= 150 and units <= 200:
    cost = 1.25*units
    print ('cost to be paid is:',cost)
else:
    if units > 250:
      cost = units*1.25
      extra_charge = (cost/17)*100
      Total_Bill = cost+extra_charge
      print ('cost to be paid is:',Total_Bill)

Enter the number of units: 4000

cost to be paid is: 34411.76470588235

In [15]:
''' 4. Write python program to print the given no patterns
1
2 2 
3 3 3
4 4 4 4 
'''
row = int (input('Enter the number of rows'))
for i in range (row):
    for j in range(i+1):
        print (i+1, end= ' ')
    print()

Enter the number of rows 3

1
2 2
3 3 3

In [19]:
''' 5. Write a python program to calculate product of digits of a number. Read value of n from user.'''
num=  int (input('Enter the number:'))
POD = 1
while num > 1:
    rem = num % 10
    POD = POD * rem
    num = num//10
print('Product of digits is:', POD)

Enter the number: 4

Product of digits is: 4

In [22]:
'''6. Create a list of elements like:x=[45,67,12,'Hello',23.45,'World']
and perform following operations
 1. Extract only strong values from this list.
 2.create a new list with strings in upper case.
 3. Find the addition of integer values.
 4.Check that the value 56 is present in it or not.
 5.Print the list in reverse order.
 6.delete the string 'Hello' from it.
 7. Insert a new value of 36 at 5th position in list .
 8.Count total no of elements in list now.
 9.Extract the values from 2nd index to 5th index.
 10. Append [34,'Pune'] to this list.
 11. Delete the last element from list.'''

x=[45,67,12,'Hello',23.45,'World'] 
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [23]:
# 1----->
x[3],x[5]

('Hello', 'World')

In [24]:
str = [i for i in x if isinstance(i,str)]
print(str)

['Hello', 'World']

In [25]:
# 2----->
names = ['Priya', 'Riya','Siya','Diya']
names

['Priya', 'Riya', 'Siya', 'Diya']

In [27]:
[n.upper() for n  in names ]

['PRIYA', 'RIYA', 'SIYA', 'DIYA']

In [29]:
# 3----->
x = [45,67,12,'Hello',23.45,'World']
sum = 0 
for i in x:
    if isinstance(i,int):
        sum += i
        print('sum of integer values:',sum)

sum of integer values: 45
sum of integer values: 112
sum of integer values: 124

In [43]:
# 4----->
98 in x

False

In [44]:
# 5----->
x

[45, 67, 12, 23.45, 'World']

In [45]:
x.reverse()

In [46]:
x

['World', 23.45, 12, 67, 45]

In [49]:
# 6----->
x

['World', 23.45, 12, 67, 45]

In [50]:
x.remove('World')

In [51]:
x

[23.45, 12, 67, 45]

In [52]:
# 7----->
x.insert(9,90)

In [53]:
x

[23.45, 12, 67, 45, 90]

In [54]:
# 8----->
len(x)

5

In [55]:
x[2:6]

[67, 45, 90]

In [56]:
# 10----->
x.append([36,'Pune'])

In [57]:
x

[23.45, 12, 67, 45, 90, [36, 'Pune']]

In [60]:
# 11----->
x = [45,67,12,'Hello',23.45,'World']

In [61]:
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [62]:
x.pop()

'World'

In [63]:
''' 7. Create a tuple of elements with 5 float values in it and perform following operations
 1.Print a data in sorted manner 
 2.Check to see that the element 50 is present in it.
 3.Convert this tuple in set.
 '''

t=(12.50,23.45,45.12,42.34,67.90)
t

(12.5, 23.45, 45.12, 42.34, 67.9)

In [64]:
# 1.---->
t1 = list(t)
t1

[12.5, 23.45, 45.12, 42.34, 67.9]

In [65]:
t1.sort()

In [66]:
t1

[12.5, 23.45, 42.34, 45.12, 67.9]

In [68]:
# 2.---->
90 in t1

False

In [69]:
12.5 in t1

True

In [70]:
# 3.---->
s = set(t)

In [71]:
s

{12.5, 23.45, 42.34, 45.12, 67.9}

In [73]:
''' 8. Create a dictionery of element:{'a':'apple','b':'ball','c':'cat','d':'doll','k':'King'} and perform following operations.
1.Access the data at key 'k'.
2.Add new values 'z':'zebra'
3.Replace the contents of 'd' as 'dog'
4.Print all the values from this dictionary.
5.find the length of this dictionary.'''

d = {'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'}

In [74]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [75]:
# 1.--->
d['c']

'cat'

In [76]:
# 2.--->
d['z'] = 'zebra'

In [77]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [80]:
# 3.--->
d['d'] = 'dog'

In [79]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [81]:
# 4.--->
d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [82]:
# 5.--->
len(d)

6

In [83]:
''' 9. Write a program to find the second largest element in a list'''
l= [23,34,56,67]

In [84]:
l

[23, 34, 56, 67]

In [85]:
l1 = sorted(l, reverse = True)
l1

[67, 56, 34, 23]

In [86]:
l1[1]

56

In [89]:
'''10. THIS IS LIST OF SOME MEATLLIC ELEMENTS
 metals=['silver','gold'....]
 1. make a new list that is almost identical to the metals list:
 2. The new list contain the same items in same order except that it does not contain items'Copper'
'''
list = ['silver','Gold','Copper','Mercury']
new_list = [n for n in list if n!='copper']

In [90]:
new_list

['silver', 'Gold', 'Copper', 'Mercury']