# class and Object

#Class Creation

In [1]:
class Employee():
    pass

#Instance of Employee

In [2]:
emp1 = Employee()
emp2 = Employee()

#Stored Diff Location

In [8]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x000001CF7B731590>
<__main__.Employee object at 0x000001CF7B7322D0>

#Instance Variable

In [10]:
emp1.first = 'Priya'
emp1.last = 'Shastri'
emp1.salary = '80000'

In [11]:
emp1.first = 'Riya'
emp1.last = 'More'
emp1.salary = '80000'

#Accessing variable

In [56]:
print(emp1.first)

Rushi

In [57]:
print(emp2.salary)

85000

# Init constructor

#Self This Keyward

In [15]:
class Employee():
    def __init__ (self,first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary

In [16]:
emp1 = Employee('Rushi','More',80000)
emp2 = Employee('Shashi','Shinde',85000)

In [17]:
emp1.first

'Rushi'

In [28]:
class Employee():
    def __init__ (self,first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary
    def show(self):
        print(self.first + ' ' + 'OK')

In [29]:
emp1 = Employee('Rushi','More',80000)
emp1.show()

Rushi OK

# Encapsulation

#Private Variable

In [24]:
class Employee():
    def __init__ (self,first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary

In [30]:
emp3 = Employee('Anvi','Kadam',45000)
emp4 = Employee('Tanvi','More',55000)

In [31]:
emp3.first

'Anvi'

In [32]:
emp3.last

'Kadam'

In [33]:
emp4.first

'Tanvi'

In [34]:
emp3.salary

45000

In [42]:
class Employee():
    def __init__ (self,first,last,salary):
        self.first = first
        self.last = last
        self.__salary = salary
    def display(self):
        print('Salary is:',self.__salary)

In [43]:
emp3 = Employee('Anvi','Kadam',45000)
emp3.display()

Salary is: 45000

# Inheitance

In [53]:
class Employee2(Employee):
    pass

In [54]:
emp5 = Employee2('Aniket','Rana',50000)

In [55]:
emp5.display()

Salary is: 50000

'''create a class called person take in name,age,hobby...(make default parameters also)
create multiple object objects Create a methods to display all info'''

In [52]:
class person():
    def __init__ (self,n,a = 22):
        self.name = n
        self.age = a
    def info(self):
        print('Name:', self.name,'Age:',self.age)

In [59]:
p2 = person('Neha')

In [60]:
p2.info()

Name: Neha Age: 22